@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 1cm;
}
:root{
    background-color: beige;
}
body{
    font-family: 'Rubik' sans-serif;
    margin: 0;
}